---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Nuestra historia',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline=""
    image={{
      src: 'https://st3.depositphotos.com/1473952/12536/i/450/depositphotos_125363882-stock-photo-growing-coffee-plants.jpg',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Conozca la maravillosa historia de  <br />
      <span class="text-accent dark:text-white highlight"> Cafe Makafe</span>
    </Fragment>

    <Fragment slot="subtitle">
     Cafe de tostion media de muy buena calidad
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->
<!-- 
  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Offices', amount: '4' },
      { title: 'Employees', amount: '248' },
      { title: 'Templates', amount: '12' },
      { title: 'Awards', amount: '24' },
    ]}
  />
-->
  <!-- Features3 Widget ************** -->

  <Features3
    title="Beneficios del cafe"
    subtitle="Solo o acompañado, para arrancar la rutina o durante una pausa en el trabajo, miles de personas adoptan al café como una bebida de ingesta diaria. Lo cierto es que no solo se trata de una infusión apetitosa, sino que su consumo con lleva ciertos beneficios para la salud."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'Esperanza de vida',
        description:
          'Los bebedores de café tienen menos probabilidades de morir por algunas de las principales causas de muerte como la enfermedad coronaria, el accidente cerebrovascular, la diabetes y la enfermedad renal.',
        icon: 'tabler:template',
      },
      {
        title: 'Reduce riesgo de diabetes tipo 2',
        description:
          'Previene el deterioro de la función hepática y de las células beta durante el estrés metabólico crónico que precede a la manifestación de la diabetes manifiesta',
        icon: 'tabler:template',
      },
      {
        title: 'Menor riesgo de Parkinson',
        description:
          'La cafeína no solo reduce el riesgo de Parkinson, sino que también mejora el control de movimientos en quienes lo padecen.',
        icon: 'tabler:template',
      },
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'El café protege el hígado',
        description:
          'Las investigaciones muestran que los bebedores de café tienen más probabilidades de tener niveles de enzimas hepáticas dentro de un rango saludable que las personas que no beben café',
        icon: 'tabler:template',
      },
      {
        title: 'Fortalece el ADN',
        description:
          'El café disminuye la rotura de las hebras de ADN que se producen de forma natural pero que pueden provocar cáncer o tumores si las células no las reparan',
        icon: 'tabler:template',
      },
      {
        title: 'Mejor rendimiento fisico',
        description:
          'El café antes de hacer ejercicio puede mejorar el rendimiento físico. La cafeína aumenta los niveles de adrenalina en sangre por lo que el café tiene beneficios sobre la preparación del cuerpo ante un esfuerzo importante',
        icon: 'tabler:template',
      },
      {
        title: 'Antidepresivo natural',
        description:
          'El café regula nuestro estrés al bloquear los receptores de la dopamina, un neurotransmisor relacionado con la ansiedad y el estrés. Si ese neurotransmisor está alterado corremos el riesgo de padecer un estado depresivo.',
        icon: 'tabler:template',
      },
      {
        title: 'Antioxidantes',
        description:
          'El café es un producto rico en compuestos antioxidantes, especialmente en polifenoles que actúan contra los radicales libres y algunos metales pesados que provocan el envejecimiento de los tejidos',
        icon: 'tabler:template',
      },
      {
        title: 'Te mantiene alerta',
        description:
          'La sensación de energía que notamos cuando nos tomamos una taza de café por la mañana se debe a que el café estimula el aumento de sustancias como la dopamina, que aceleran nuestra actividad cerebral. ',
        icon: 'tabler:template',
      },
    ]}
    image={{
      src: 'https://casaeguia.com/modules/tvcmsblog/views/img/b-beneficios-del-cafe-para-la-salud.jpg',
      alt: 'Colorful Image',
    }}
  />

  <!-- Steps2 Widget ****************** -->
<!-- 
  <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Customer-centric approach',
        description:
          'Donec id nibh neque. Quisque et fermentum tortor. Fusce vitae dolor a mauris dignissim commodo. Ut eleifend luctus condimentum.',
      },
      {
        title: 'Constant Improvement',
        description:
          'Phasellus laoreet fermentum venenatis. Vivamus dapibus pulvinar arcu eget mattis. Fusce eget mauris leo.',
      },
      {
        title: 'Ethical Practices',
        description:
          'Vestibulum imperdiet libero et lectus molestie, et maximus augue porta. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
      },
    ]}
  />

  

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={4}
    items={[
      {
        title: 'EE.UU',
        description: '1234 Lorem Ipsum St, 12345, Miami',
      },
      {
        title: 'Spain',
        description: '5678 Lorem Ipsum St, 56789, Madrid',
      },
      {
        title: 'Australia',
        description: '9012 Lorem Ipsum St, 90123, Sydney',
      },
      {
        title: 'Brazil',
        description: '3456 Lorem Ipsum St, 34567, São Paulo',
      },
    ]}
  />

  

  <Features2
    title="Technical Support"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Chat with us',
        description:
          'Integer luctus laoreet libero, auctor varius purus rutrum sit amet. Ut nec molestie nisi, quis eleifend mi.',
        icon: 'tabler:messages',
      },
      {
        title: 'Call us',
        description:
          'Mauris faucibus finibus orci, in posuere elit viverra non. In hac habitasse platea dictumst. Cras lobortis metus a hendrerit congue.',
        icon: 'tabler:headset',
      },
    ]}
  />
-->
</Layout>
