---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
//import Note from '~/components/widgets/Note.astro';
//import Features from '~/components/widgets/Features.astro';

import Stats from '~/components/widgets/Stats.astro';
//import CallToAction from '~/components/widgets/CallToAction.astro';


const metadata = {
  title: 'Cafe Makafe',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

<!--
<div class="seccion-con-fondo fondo-con-imagen borde-image" style="background-image: url('https://e1.pxfuel.com/desktop-wallpaper/276/172/desktop-wallpaper-coffee-beans-backgrounds-beans.jpg');">
  <div style="font-size: 10rem; color: rgb(222, 206, 194);"> 
    <span class="text-accent highlight">Makafe</span>
    lo mejor de Colombia
    <span class="hidden xl:inline"></span>
  </div>
</div>
-->
<div class="seccion-con-fondo fondo-con-imagen imagen-fija" style="background-image: url('https://e1.pxfuel.com/desktop-wallpaper/276/172/desktop-wallpaper-coffee-beans-backgrounds-beans.jpg');">

    <div>
      <!-- <span class="text-accent highlight">Makafe</span>-->
      <span style="font-size: 10vw; color: rgb(255, 0, 0);">Makafe</span>
      <br>
      <span style="font-size: 6vw; color: rgb(255, 255, 255);">café con conciencia</span>
      <span class="hidden xl:inline"></span>
    </div>
</div>
<!--https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZVqVLecD7K305SQS6u4Kb8YxUQZSmCO-LL3EH7A7E2XHKQ-sFcq8FAH4k1qlT1aeHMxcFljeeHglcunv-sU4I0HDI6H0yUzJw=w1960-h2512-rw-v1 -->

<br>
<br>
<br>
<br>
<Fragment>
  <div class="grid grid-cols-3 gap-1">
    
  <a href="/bourbon-rosado">
    <div class="p-2 text-center">
      <img src="https://i.ibb.co/9wg5TZG/540x1050.jpg" alt="Producto 1" class="mx-auto max-w-imagen h-auto rounded-xl">
      <p class="font-bold text-black">Café Bourbon Rosado</p>
      <p class="font-bold text-black">Grano   500g</p>
      <p class="font-bold" style="color: #083F1C;">$32.000</p>
    </div>
  </a>

  <a href="/plus-intenso">
    <div class="p-2 text-center">
      <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihaQVLdYAPqaq44BiuOt0To_yZOTtn9t7zMr1IKJr1ZosG2z6eXNPW82I2ukKzTngo4T8MdabChvpgVnUKKTMd1X2f2GrTufKW8=w1960-h2512-rw-v1" alt="Producto 2" class="mx-auto max-w-imagen h-auto rounded-xl">
      <p class="font-bold text-black">Café Plus Intenso </p>
      <p class="font-bold text-black">Molido   500g </p>
      <p class="font-bold" style="color: #083F1C;">$28.000</p>
    </div>
  </a>

  <a href="/bourbon-rosado-s">
    <div class="p-2 text-center">
      <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihZrhwJEdhx2FvD74COv964xeh1HOxuJ831A2npA6YLO14ZapYWzXNzOH6Z18ofjO6qjC50DQjSdY3VAx4FwEhqMG5mBuG2bEg0=w1960-h2512-rw-v1" alt="Producto 3" class="mx-auto max-w-imagen h-auto rounded-xl">
      <p class="font-bold text-black">Café Bourbon Rosado</p>
      <p class="font-bold text-black">Molido   500g</p>
      <p class="font-bold" style="color: #083F1C;">$17.000</p>
    </div>
  </a>
<!-- 
  <a href="/cafe-dorado">
    <div class="p-6 text-center">
      <img src="https://shared12.hostgator.co:2083/cpsess0226292274/frontend/jupiter/filemanager/showfile.html?file=540x1050.jpg&fileop=&dir=%2Fhome1%2Fcafemaka%2Fpublic_html&dirop=&charset=&file_charset=&baseurl=&basedir=" alt="Producto 4" class="mx-auto h-54 w-54 rounded-xl">
      <p class="font-bold text-black">Café taza dorado</p>
      <p class="font-bold" style="color: #083F1C;">$69.99</p>
    </div>
  </a>

  <a href="/cafe-negro">
    <div class="p-6 text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUjIRgQRi_i7mrg1XS0ZoEBRERdZSETn3CQg&usqp=CAU" alt="Producto 5" class="mx-auto h-54 w-54 rounded-xl">
      <p class="font-bold text-black">Café taza negro</p>
      <p class="font-bold" style="color: #083F1C;">$49.99</p>
    </div>
  </a>
          
  <a href="/cafe-verde">
    <div class="p-6 text-center">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUjIRgQRi_i7mrg1XS0ZoEBRERdZSETn3CQg&usqp=CAU" alt="Producto 6" class="mx-auto h-54 w-54 rounded-xl">
      <p class="font-bold text-black">Café taza verde</p>
      <p class="font-bold" style="color: #083F1C;">$59.99</p>
    </div>
  </a>-->
  </div>

</Fragment>
  <Stats
    stats={[
      { title: 'Prouductos vendidos', amount: '1.3K' },
      { title: 'Stars', amount: '4.8' },
      { title: 'Clientes', amount: '2K' },
      { title: 'Visitas', amount: '48K' },
    ]}
  />


  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Siguenos',
        href: 'https://www.instagram.com/cafe_makafe/',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Whatsapp', href: 'https://wa.me/573114500604',target: '_blank' },
    ]}
    
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Makafe</span>
      café con conciencia <span class="hidden xl:inline"></span>
      
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Makafe </span> eleva tus sentidos</span
      >
      
    </Fragment>
  </Hero>

  </CallToAction>
</Layout>




<!--
//import Features2 from '~/components/widgets/Features2.astro';
//import Steps from '~/components/widgets/Steps.astro';
//import Content from '~/components/widgets/Content.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
//import FAQs from '~/components/widgets/FAQs.astro';




*	Llamado por algunos como “la esmeralda del café colombiano”, el Bourbon Rosado ha ganado prestigio internacional en los últimos 20 años.
*	Sus cerezas tienen un color **rosado salmón** y su sabor es dulce, con notas de miel y una complejidad que lo hace único.
*	En la taza, puedes esperar **notas tropicales** que recuerdan a lichis, kiwis, maracuyás, cidrón y geranios, todo perfectamente equilibrado.
 -->

