---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
//import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';

import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';


const metadata = {
  title: 'Cafe Makafe',
  ignoreTitleTemplate: true,
};
//https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihaxCBqaG-XsKIW7v4z3a1EnMuRiRVLUqmNNTpF6KzwKSLhDxRlUlohYFXDPs_wlld-5ipxPJ81ac72XtB3r6QysxnuOCQ=w1366-h641
---

<Layout metadata={metadata}>
<div class="seccion-con-fondo fondo-con-imagen borde-image" style="background-image: url('https://e1.pxfuel.com/desktop-wallpaper/276/172/desktop-wallpaper-coffee-beans-backgrounds-beans.jpg');">
  <div class="text-white" style="font-size: 10rem;"> <!-- Adjusted font size here -->
    <span class="text-accent dark:text-black highlight">Makafe</span>
    lo mejor de Colombia
    <span class="hidden xl:inline"></span>
  </div>
</div>

<!-- 
<a href="/product/nombre-del-producto">
  <img src="ruta-a-la-imagen-del-producto.jpg" alt="Producto">
</a>
-->
<Fragment>
  <div class="grid grid-cols-3 gap-4">
    
  <a href="/astrowind-template-in-depth" target="_blank">
    <div class="bg-gray-200 p-4 text-center">
      <img src="https://macizocafe.com/wp-content/uploads/2021/03/bourbon-rosado.png" alt="Producto 1" class="mx-auto h-54 w-54">
      <p class="text-sm mt-2">Nombre del producto 1</p>
      <p class="text-sm font-bold">$99.99</p>
    </div>
  </a>

    <!-- Imagen 2 -->
  <a href="/how-to-customize-astrowind-to-your-brand">
    <div class="bg-gray-200 p-4 text-center">
      <img src="https://img.freepik.com/vector-gratis/taza-negra-aislada_1284-42454.jpg" alt="Producto 2" class="mx-auto h-54 w-54">
      <p class="text-sm mt-2">Nombre del producto 2</p>
      <p class="text-sm font-bold">$79.99</p>
    </div>
  </a>

    <!-- Imagen 3 -->
  <a href="/useful-resources-to-create-websites">
    <div class="bg-gray-200 p-4 text-center">
      <img src="https://macizocafe.com/wp-content/uploads/2021/03/bourbon-rosado.png" alt="Producto 3" class="mx-auto h-54 w-54">
      <p class="text-sm mt-2">Nombre del producto 3</p>
      <p class="text-sm font-bold">$59.99</p>
    </div>
  </a>
  </div>

</Fragment>

<Fragment>
  <a>
  <div class="max-w-3xl mx-auto p-4">
    <!-- Aquí irá el contenido específico del producto -->
    <h1 class="text-2xl font-bold mb-4">Nombre del Producto</h1>
    <img src="https://macizocafe.com/wp-content/uploads/2021/03/bourbon-rosado.png" alt="Producto" class="w-full mb-4">
    <p class="text-gray-600">Descripción del producto...</p>
    <p class="text-green-600 font-bold">$99.99</p>
  </div>
</a>
</Fragment>












<!-- 
  <div class="product-gallery">
    <div class="product-row">

      <a href="/producto/1" class="product-link">
    <div class="product flex">
      <img src="https://macizocafe.com/wp-content/uploads/2021/03/bourbon-rosado.png" alt="Producto 1">
      <h3>Producto 1</h3>
      <p>$50</p>
    </div>
    </a>

    
    <a href="/producto/2" class="product-link">
    <div class="product flex">
      <img src="https://macizocafe.com/wp-content/uploads/2021/03/bourbon-rosado.png" alt="Producto 2">
      <h3>Producto 2</h3>
      <p>$60</p>
    </div>
  </a>
  
    <a href="/producto/3" class="product-link">
    <div class="product flex">
      <img src="https://macizocafe.com/wp-content/uploads/2021/03/bourbon-rosado.png" alt="Producto 3">
      <h3>Producto 3</h3>
      <p>$70</p>
    </div>
  </a>
  </div>
  </div>
-->



<!--
  <Features
    id="features"
    tagline=""
    title="Lo que optienes con cafe Makafe"
    subtitle="Uno de los mejores cafes colombianos actualmente en el mercado."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />
    -->
  <Stats
    stats={[
      { title: 'Prouductos vendidos', amount: '132K' },
      { title: 'Stars', amount: '4.8' },
      { title: 'CLientes', amount: '10.3K' },
      { title: 'Visitas', amount: '48.4K' },
    ]}
  />



  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Siguenos',
        href: 'https://www.instagram.com/cafe_makafe/',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Whatsapp', href: 'https://wa.me/573114500604',target: '_blank' },
    ]}
    
    
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Makafe</span>
      lo mejor de colombia <span class="hidden xl:inline"></span>
      
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Makafe </span> eleva tus sentidos</span
      >
      
    </Fragment>
  </Hero>


  <!-- CallToAction Widget *********** -->
 <!-- 
  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Siguenos',
        href: 'https://www.instagram.com/cafe_makafe/',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
 
    <Fragment slot="title">
      Cafe&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Makafe</span>
    </Fragment>

    <Fragment slot="subtitle">
      Cafe colombiano y alguna otra frase para poner :P
    </Fragment>
  -->
  </CallToAction>
</Layout>




<!--
//import Features2 from '~/components/widgets/Features2.astro';
//import Steps from '~/components/widgets/Steps.astro';
//import Content from '~/components/widgets/Content.astro';
//import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
//import FAQs from '~/components/widgets/FAQs.astro';

 -->