---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">

  <img src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYZetVP5ACs_PI6EMcXcj0meXD9bMfbkbIGExfVF4DMq34o0H13Byl41rf4PiYaIu-BDBQ0NP-x2Gw4J_SzreIXbFlhHDKYjuc=w1960-h2512-rw-v1" alt="Coffee icon" width="45" height="45" /> {SITE?.name}
</span>     



<!--
---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  🚀 {SITE?.name}
</span>


"~/assets/images/cafeLogo1.png"
 -->