---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img src="https://lh3.googleusercontent.com/drive-viewer/AKGpihbFrhI91Pbrif9YFnW84iPL1ymM8hnKOWXiZLjtP4-brK-bCVjI17wflrvI1rfxYN2HVSSLWAsKhvr7O22rZFN0h5IA1Q=w1960-h1394" alt="Coffee icon" width="45" height="45" /> {SITE?.name}
</span>     



<!--
---
import { SITE } from '~/utils/config';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  🚀 {SITE?.name}
</span>


"~/assets/images/cafeLogo1.png"
 -->